<section class="section" style="background-color: lightslategray">
  <div class="container">
    <div class="is-flex is-justify-centered">
      <button href="" class="button is-primary filter-button" id="show-filter-button">
        Filters
      </button>
    </div>
    <div class="modal" id="filter-card">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Filter and sort</p>
          <button class="delete" aria-label="close" id="close-button"></button>
        </header>
        <section class="modal-card-body" >
          <div class="filters">
            <div class="field">
              <label for="rating" class="label">Rating: </label>
              <div class="select">
                <select name="rating" id="rating">
                  <option value="1">1 <span class="icon is-small">
                      <i class="fas fa-star is-yellow"></i>
                    </span></option>
                  <option value="2">2 <span class="icon is-small">
                      <i class="fas fa-star is-yellow"></i>
                    </span></option>
                  <option value="3">3 <span class="icon is-small">
                      <i class="fas fa-star is-yellow"></i>
                    </span></option>
                  <option value="4">4 <span class="icon is-small">
                      <i class="fas fa-star is-yellow"></i>
                    </span></option>
                  <option value="5">5 <span class="icon is-small">
                      <i class="fas fa-star is-yellow"></i>
                    </span></option>
                </select>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="filter-button">Filter</button>
          <button class="button" id="cancel-filter-button">Cancel</button>
        </footer>
      </div>
    </div>

<div class="section" >
  <div class="container" id="occupations-container">
    {{#each occupations}}
    <div class="box">
      <article class="media">
        <div class="media-left is-flex is-align-centered">
          <figure class="avatar image is-128x128 is-square	
">
            <img src="{{userId.avatar}}" alt="{{userId.name}}" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{userId.name}}</strong>
              <br>
              {{type}}
              <br>
              {{rating}}
              <span class="icon is-medium">
                <i class="fas fa-star"></i>
              </span>
              <br>
              {{content}}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a href="/user/emp/{{userId._id}}" class="level-item button is-info">
                View profile
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
    {{/each}}
  </div>
</div>
</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/axios-requests.js"></script>
<script src="/js/search.js"></script>